{% extends 'base.html' %}
{% load static %}

{% block style %}
<script src="https://kit.fontawesome.com/058171b902.js" crossorigin="anonymous"></script>
<link href="{% static 'my_page/css/home.css' %}" type="text/css" rel="stylesheet" >
<link href="{% static 'jadwal/css/jadwal.css' %}" type="text/css" rel="stylesheet" >
{% endblock style %}

{% block content %}
  <nav><ul>
      <li><a href="{% url 'my_page:front_page' %}">HOME</a></li>
  </ul></nav>
  {% block view %}
    <section>
      <table>
	<tbody>
	  <tr>
	    <th>NAMA KEGIATAN</th>
	    <th>HARI</th>
	    <th>TANGGAL</th>
	    <th>JAM</th>
	    <th>TEMPAT KEGIATAN</th>
	    <th>NAMA KATEGORI</th>
	    <th>HAPUS</th>
	  </tr>
      {% if jadwals %}
	{% for jadwal in jadwals %}
	  <tr>
	    <td>{{ jadwal.name }}</td>
	    <td>{{ jadwal.day }}</td>
	    <td>{{ jadwal.date }}</td>
	    <td>{{ jadwal.time }}</td>
	    <td>{{ jadwal.place }}</td>
	    <td>{{ jadwal.category }}</td>
	    <td><button class="button-link"><a href="{% url 'jadwal:del' jadwal.id %}"><i class="far fa-times-circle"></i></a></button></td>
	  </tr>
	{% endfor %}
      {% else %}
	<tr>
	  <td colspan="7"><h1>You don't have any schedule yet</h1></td>
	</tr>
      {% endif %}
	</tbody>
      </table>
      <button class="button-link"><a href="{% url 'jadwal:buat' %}">tambah jadwal</a></button>
    </section>
  {% endblock view %}
{% endblock content %}
