{% extends 'jadwal/base.html' %}

{% block view %}
  <form style="background-color: white; margin: auto; margin-top: 70px; font-family: 'montserrat'; padding: 20px; width: 50%; " action="{% url 'jadwal:buat' %}" method="POST">
    {% csrf_token %}
    {% for fields in form %}
      <div style="margin: 20px 0px">
	<div>
	{{ fields.errors }}
	</div>
	<div style="margin: 5px">
	{{ fields.label_tag }}<br>
	{{ fields }}
	</div>
      </div>
    {% endfor %}
    <div>
      <input style="padding: 10px; text-decoration: none; font-family: montserrat; background-color: #00adb5; border: none; border-radius:20px; color: white" type="submit">
    </div>
  </form>
{% endblock view %}
