.errorlist {
  text-decoration: none;
  color: 'red';
}

.button-link {
  font-family: "montserrat";
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background-color: #222831;
}

.button-link a {
  text-decoration: none;
  color: #fff;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%;
}

tbody tr {
  margin: 10px;
  background-color: white;
  padding: 10px;
}

td {
  padding: 20px;
}

th {
  height: 50px;
  padding: 20px;
}

th tr {
  padding: 20px;
}
