{% extends 'my_page/base.html' %}
{% load static %}

{% block views %}
  <section id="about-me">
    <h1>ABOUT ME</h1>
    <div class="middle">
      <img src="{% static 'my_page/image/me.jpg' %}">
      <p>A CS Student with a great curiosity and spirit to learn everything</p>
    </div>
  </section>
{% endblock views %}
