{% extends 'base.html' %}
{% load static %}

{% block style %}
    <script src="https://kit.fontawesome.com/058171b902.js" crossorigin="anonymous"></script>
  <link href="{% static 'my_page/css/home.css' %}" type="text/css" rel="stylesheet">
{% endblock style %}

{% block content %}
  <nav><ul>
      <li><a href="{% url 'my_page:about_me' %}">ABOUT ME</a></li>
      <li><a href="{% url 'my_page:skill' %}">SKILL</a></li>
      <li><a href="{% url 'my_page:experiment' %}">EXPERIMENT</a></li>
      <li><a href="{% url 'jadwal:daftar' %}">JADWAL</a></li>
      <li><a href="{% url 'my_page:contacts' %}">CONTACTS</a></li>
  </ul></nav>
  {% block views %}
    <h1>this is my page base html</h1>
  {% endblock views %}
{% endblock content %}
