{% extends 'my_page/base.html' %}
{% load static %}

{% block views %}
  <section id="front-page">
    <div class="back-blur"></div>
    <h1>HELLO,<br>I'M NAUFAL</h1>
  </section>
{% endblock views %}
